
<div class="col-md-4">
  <button (click)="logout()" class="btn btn-sm btn-danger mr-5 mb-5">Logout</button>
</div>
<div class="container" style="margin: auto;">
  <div class="row">
    <div class="col-md-4">
      <button (click)="createEvent()" class="btn btn-sm btn-primary mr-5 mb-5">Create Event</button>
    </div>
    <div class="col-md-4">
      <button (click)="createSession()" class="btn btn-sm btn-primary mr-5 mb-5">Create Session</button>
    </div>
    <div class="col-md-4">
      <button (click)="createSpeaker()" class="btn btn-sm btn-primary mr-5 mb-5">Create Speaker</button>
    </div>
  </div>


  <table class="table table-striped table-bordered" style="width: 1000px; padding: 32px;">
    <thead>
      <tr>
        <th>Sr No.</th>
        <th>Event Name</th>
        <th>EventDate</th>
        <th>Description</th>
        <th>Location</th>
        <th>Organizer</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ event.EventName }}</td>
        <td>{{ event.EventDate }}</td>
        <td>{{ event.Description }}</td>
        <td>{{ event.Location }}</td>
        <td>{{ event.Organizer }}</td>

        <td style="display: flex;">
          <button class="btn btn-sm btn-primary mr-5" [routerLink]="['/events/edit/', event.EventId]">Edit</button>
          <button class="btn btn-danger btn-sm" (click)="deleteEvent(event.EventId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped table-bordered" style="width: 1000px; padding: 32px; margin-top: 32px;">

    <thead>
      <tr>
        <th>Sr No.</th>
        <th>Session Name</th>
        <th>Session Start Time</th>
        <th>Session End Time</th>
        <th>Session Description</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let session of sessions; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ session.SessionName }}</td>
        <td>{{ session.SessionStartTime }}</td>
        <td>{{ session.SessionEndTime }}</td>
        <td>{{ session.SessionDescription }}</td>

        <td style="display: flex;">
          <button class="btn btn-sm btn-primary mr-5" [routerLink]="['/session/edit/', session.SessionId]">Edit</button>
          <button class="btn btn-danger btn-sm"(click)="deletesession(session.SessionId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>


  <table class="table table-striped table-bordered" style="width: 1000px; padding: 32px; margin-top: 32px;">
    <thead>
      <tr>
        <th>Sr No.</th>
        <th>Speaker Name</th>
        <th>Speaker Email</th>
        <th>Speaker Bio</th>

        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let speaker of speakers; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ speaker.SpeakerName }}</td>
        <td>{{ speaker.SpeakerEmail }}</td>
        <td>{{ speaker.SpeakerBio }}</td>
       

        <td style="display: flex;">
          <button class="btn btn-sm btn-primary mr-5" [routerLink]="['/speaker/edit/', speaker.SpeakerId]">Edit</button>
          <button class="btn btn-danger btn-sm"(click)="deletespeaker(speaker.SpeakerId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>



